td {
    vertical-align: inherit;
}

.list-group-item {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.tex {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.jumbotron {
    margin-bottom: 1rem;
}